@import '../vars.less';

.centro{
	width: 980px;
	max-width: 100%;
	.centralizar;
}

#dashboard-section{
	header{
		border-bottom: 1px @cinza solid;
		font-size: 0;
		.dashboard-branding{
			.inline;
			background: rgba(255, 255, 255, 0.8);
			padding: 22px 30px;
			box-sizing: border-box;
			width: 240px;
			font-size: 0;
			.dashboard-marca{
				.inline;
				width:90px;
				img{
					display: block;
					max-width: 100%;
				}
			}
			p{
				margin-top: -3px;
				line-height: 110%;
				.ubuntu(14px, bold);
				color: #000;
				width: 90px;
				margin: 0;
				.inline;
			}
		}
		.dashboard-topo{
			.inline;
			width: 740px;
			height: 119px;
			box-sizing: border-box;
			padding: 10px 0 10px 50px;
			position: relative;
			.dashboard-busca{
				.inline;
				width: 340px;
				h1{
					padding-top: 5px;
					.ubuntu(14px);
					color: @cinza;
					a{
						font-size: 11px;
						color: @cinza;
						&:active, &:visited{color: @cinza;}
						&:hover{
							text-decoration: underline;
						}
					}
				}
				form{
					margin-top: 36px;
					width: 345px;
					height: 35px;
					input[type="text"]{
						margin: 0;
						padding: 0 10px;
						height: 30px;
						line-height: 30px;
						box-sizing: border-box;
						color: @cinza-escuro;
						.ubuntu(13px);
						border: 1px @cinza solid;
						border-radius: 4px;
						width: 300px;
						.inline;
						background: @cinza-claro;
					}
					input[type="submit"]{
						width: 30px;
						height: 30px;
						border-radius: 4px;
						margin-left: 5px;
						background: url('../../images/layout/portaria/setinha-regular.png') @verde center center no-repeat;
						.inline;
						&:hover{
							cursor: pointer;
						}
					}
				}
			}
			.dashboard-cadastros{
				float: right;
				text-align:center;
				width: 100%;
				max-width: 250px;
				font-size: 0;
				padding-top: 20px;
				a{
					.inline;
					width:48%;
					padding-top: 4px;
					padding-bottom: 4px;
					line-height: 130%;
					.ubuntu(10px);
					color: @cinza-escuro;
					transition: all .3s ease-out;
					img{
						display: block;
						margin: 0 auto 3px auto;
					}
					&:active, &:visited{color: @cinza-escuro;}
					&:hover,
					&.ativo{
						color: @verde;
						background: #F0F0F0;
					}
					&.ativo{
						font-weight: bold;
					}
				}
			}
		}
	}
	aside{
		.inline;
		width: 240px;
		ul.dashboard-menu{
			font-size: 0;
			li{
				min-height: 30px;
				line-height: 30px;
				text-indent: 10px;
				background: @azul-setor-adm;
				border-bottom: 1px #467f96 solid;
				h3{
					.ubuntu(10px, 300);
					text-transform: uppercase;
					color: @azul-setor-adm-texto;
				}
				a{
					transition: color .3s ease-in;
					color: #fff;
					display: block;
					.ubuntu(12px);
					font-weight: bold;
					&:active, &:visited{ color: #fff; }
					&:hover, &.ativo{ color: @azul-setor-adm-texto-marcado; }
				}

			}
		}
	}
	.main{
		.inline;
		width: 740px;
		box-sizing: border-box;
		padding-left: 50px;
		h1{
			.ubuntu(17px);
			color: @verde;
			line-height: 100%;
			margin: 25px 0;
			display: block;
			strong{
				font-weight: bold;
			}
		}
		&#dashboard-main{
			#listaMudancas,
			#listaSalaoDeFestas{
				list-style: none;
				margin-bottom: 30px;
				& > li{
					min-height: 30px;
					background: @cinza-claro;
					border-bottom: 1px #9DFF9D solid;
					&:first-child{
						line-height: 30px;
						padding-left: 10px;
						border-bottom: 1px @verde solid;
						color: @azul-setor-adm;
						.ubuntu(14px, bold);
					}
					.unidade{
						height: 30px;
						line-height: 30px;
						padding: 0 10px;
						background: @verde;
						color: #fff;
						float: left;
						.ubuntu(16px, bold);
					}
					.descricao{
						line-height: 160%;
						padding: 5px 0 5px 60px;
						color:@cinza-escuro;
						.ubuntu(13px, 300);
						.titulo{
							font-size: 14px;
							text-transform: uppercase;
							font-weight: bold;
						}
					}
					.btn-convidados{
						float: right;
						margin-right: 15px;
						&:hover{
							background: #A13A76;
							border-color: #A13A76;
							color: #fff;
						}
					}
					.lista-convidados-vazia{
						float: right;
						margin-right: 15px;
						.inline;
						border-radius: 4px;
						border: 2px #555 solid;
						text-align: center;
						color: #fff;
						.ubuntu(12px, bold);
						height: 15px;
						line-height: 15px;
						padding: 0 5px;
						vertical-align: middle;
						&:active, &:visited{color: #fff;}
						background-color: #555;
					}
					&.lista-vazia{
						h2{ color: #CCCCCC; }
					}
				}
				.lista-convidados-popup{
					display: none;
				}
			}
		}
	}
}