@import '../vars.less';

#unidades-main{

	.barra-titulo{
		margin: 25px 0;
		h1{
			display: inline-block;
			vertical-align: top;
			margin: 0 20px 0 0;
			line-height: 20px;
		}
		.btn-group{
			display: inline-block;
			vertical-align: top;
			max-width: 60%;

			a{
				display: inline-block;
				vertical-align: top;
				white-space: nowrap;
				padding: 0 8px;
				border-radius: 4px;
				background: @azul-setor-adm;
				height: 20px;
				line-height: 20px;
				color: #fff;
				transition: background .3s ease-out;
				.ubuntu(10px, bold);
				&:hover{
					background: @rosa-setor-uni;
				}
			}
		}
	}

	.lista-item-popup{
		display: none;
	}

	.lista-item{
		background: #F0F0F0;
		margin-bottom: 20px;
		h2{
			display: block;
			border-bottom: 1px #79C9B9 solid;
			padding-left: 10px;
			height: 30px;
			line-height: 30px;
			color: @azul-setor-adm;
			.ubuntu(14px, bold);
		}
		& > ul{
			& > li{
				border-bottom: 1px #BBFABB solid;
				min-height: 60px;
				img{
					max-height: 60px;
					max-width: 60px;
					float: left;
				}
				.nome{
					padding: 10px 0 0 72px;
					.ubuntu(16px);
					color: @cinza-escuro;
					span{
						padding-top: 3px;
						font-size: 11px;
						display: block;
						font-style: italic;
					}
				}
			}
		}
		&.lista-agendamentos-de-mudanca{
			ul li{
				min-height: auto;
				padding: 10px;
				p{
					color: @cinza-escuro;
					.ubuntu(15px);
				}
			}
		}
		&.lista-pessoas-nao-autorizadas{
			background: @amarelo-claro;
		}
		&.lista-prestadores-de-servico{
			ul li{
				font-size: 0;
				padding: 10px;
				min-height: auto;
				.coluna{
					.inline;
					width: 50%;
					line-height: 140%;
					.ubuntu(12px);
					font-style: italic;
					color: @cinza-escuro;
					h3{
						.ubuntu(14px);
						font-style: normal;
					}
				}
			}
		}
		&.lista-festas-particulares{
			ul{
				li{
					line-height: 130%;
					color: @cinza-escuro;
					padding: 10px;
					min-height: 30px;
					background: @cinza-claro;
					border-bottom: 1px #9DFF9D solid;
					.btn-convidados{
						float: right;
						margin-right: 15px;
						&:hover{
							background: #A13A76;
							border-color: #A13A76;
							color: #fff;
						}
					}
					.lista-convidados-vazia{
						float: right;
						margin-right: 15px;
						.inline;
						border-radius: 4px;
						border: 2px #555 solid;
						text-align: center;
						color: #fff;
						.ubuntu(12px, bold);
						height: 15px;
						line-height: 15px;
						padding: 0 5px;
						vertical-align: middle;
						&:active, &:visited{color: #fff;}
						background-color: #555;
					}
					.titulo{
						.ubuntu(14px, bold);
					}
					p{
						.ubuntu(14px);
					}
				}
				.lista-convidados-popup{
					display: none;
				}
			}
		}
	}
}

.featherlight{
	.featherlight-content{
		padding: 0;
		background: #F0F0F0;
		.popup-unidades{
			padding: 30px;
			h1{
				.ubuntu(16px);
				color: @verde;
				margin: 0 0 20px 0;
				font-weight: normal;
				strong{ font-weight: bold; }
			}
			ul{
				li{
					&:first-child{ border-top: 1px @verde solid; }
					border-bottom: 1px @verde solid;
					img{
						float: left;
						width: 150px;
						height: 150px;
					}
					.nome{
						float: left;
						padding: 20px 0 0 20px;
						.ubuntu(16px);
						span{
							font-size: 13px;
							padding-top: 4px;
							display: block;
						}
					}
					.veiculo{
						padding: 20px;
						.ubuntu(16px);
						line-height: 140%;
						strong{
							padding-top: 5px;
							display: block;
							font-weight: bold;
							font-size: 20px;
						}
					}
				}
			}
		}
		#lista-moradores ul li{
			min-height: 150px;
		}
		#lista-animais-de-estimacao ul li{
			min-height: 150px;
			.nome{
				line-height: 150%;
			}
		}
		.popup-convidados{
			display: block;
			background: @cinza-claro;
			position: relative;
			.unidade{
				height: 30px;
				line-height: 30px;
				padding: 0 10px;
				background: @verde;
				color: #fff;
				float: left;
				.ubuntu(16px, bold);
			}
			.topo-lista-convidados{
				line-height: 130%;
				color:@cinza-escuro;
				border-bottom: 1px @azul-setor-adm-texto-marcado solid;
				padding: 5px 0 15px 60px;
				margin: 0 0 15px 0;
				h3{
					.ubuntu(14px, bold);
					text-transform: uppercase;
					max-width: 500px;
				}
				.data{
					display: block;
					font-weight: normal;
					.ubuntu(12px);
				}
				#filtro-lista-convidados{
					border: 1px @cinza-escuro solid;
					border-radius: 3px;
					float: right;
					margin: 0 30px 0 0;
					height: 22px;
					line-height: 22px;
					background: @cinza-claro;
					text-indent: 10px;
					.ubuntu(14px);
				}
			}
			h4{
				.ubuntu(16px, bold);
				color: @laranja;
				font-style: italic;
				margin-bottom: 12px;
				padding-left: 8%;
				.toggle-visibilidade-lista-convidados{
					float: right;
					margin-right: 15px;
					color: @cinza-escuro;
					font-style: italic;
					transition: all .3s ease-in;
					margin-top: 5px;
					.ubuntu(10px);
					span{
						font-weight: bold;
					}
					&:hover{
						color:@verde;
					}
				}
			}
			.lista-convidados{
				padding: 0 8%;
				li{
					margin: 8px 0;
					display: block;
					a{
						height: 25px;
						line-height: 25px;
						display: block;
						color: @cinza-escuro;
						.ubuntu(14px);
						padding-left: 6px;
						transition: all .3s ease-in;
						border-radius: 4px;
						span{
							margin-right: 15px;
							float:right;
							color: @cinza-claro;
							.ubuntu(10px);
							border:1px #fff solid;
							border-radius: 15px;
							padding: 2px 6px;
							line-height: 100%;
							margin-top: 5px;
							width: auto;
							height: auto;
							.inline;
						}
						&:hover{
							background: @verde;
							color:#fff;
						}
						&.presente{
							background: @cinza-medio;
							color: #DDD;
							span{
								color: #DDD;
								border-color: @cinza-escuro;
							}
						}
						&.oculto{
							overflow: hidden;
							height: 0;
						}
					}
					&:last-child{
						display: none;
						strong{
							border-top: 1px @danger solid;
							color: @danger;
							display: block;
							padding: 10px 0;
							margin: 10px 0;
							.ubuntu(14px, bold);
						}
					}
				}
				&.mostrar-ocultos{
					li a.oculto{
						height: auto;
					}
				}
			}
		}
	}
}
