@import '../vars.less';

#veiculos-main{
  .busca-veiculos{
    label{
      width: 60%;
      display: block;
      position: relative;
      #consultar-placa-veiculo{
        margin: 0;
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        box-sizing: border-box;
        color: @cinza-escuro;
        .ubuntu(14px);
        border: 1px @cinza solid;
        border-radius: 4px;
        width: 100%;
        background: @cinza-claro;
      }
    }
    #resultados-veiculos{
      display: none;
      h3{
        margin: 20px 0 0 0;
        display: block;
        .ubuntu(14px);
        color: @cinza-escuro;
        line-height: 130%;
        strong{
          font-size: 16px;
          font-weight: bold;
          display: block;
        }
      }
      h4{
        margin: 20px 0;
        .ubuntu(15px);
        color: @cinza-medio;
        text-align: center;
      }
      table{
        width: 100%;
        margin: 20px 0;
        tr{
          border-bottom: 1px @cinza-medio solid;
          th{
            line-height: 120%;
            padding: 8px 0 1px 0;
            .ubuntu(12px, bold);
            color: @cinza-medio;
          }
          td{
            font-style: italic;
            line-height: 120%;
            padding: 8px 0 1px 0;
            .ubuntu(12px);
            color: @cinza-medio;
            &:first-child{
              font-weight: bold;              
            }
          }
        }
      }
    }
    #loader{
      display: none;
      .spinner {
        margin: 50px auto;
        width: 50px;
        height: 40px;
        text-align: center;
        font-size: 10px;
      	& > div {
      	  background-color: @success;
      	  height: 100%;
      	  width: 6px;
      	  display: inline-block;

      	  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
      	  animation: sk-stretchdelay 1.2s infinite ease-in-out;
      	}
      	.rect2 {
      		-webkit-animation-delay: -1.1s;
      		animation-delay: -1.1s;
      	}
      	.rect3 {
      		-webkit-animation-delay: -1.0s;
      		animation-delay: -1.0s;
      	}

      	.rect4 {
      		-webkit-animation-delay: -0.9s;
      		animation-delay: -0.9s;
      	}

      	.rect5 {
      		-webkit-animation-delay: -0.8s;
      		animation-delay: -0.8s;
      	}
      }
    }
  }

  form{
    border-top: 1px @verde solid;
    margin-top: 15px;
    h1{
      margin-bottom: 15px !important;
    }
    fieldset{
      width: 60%;
      .veiculos-da-unidade-form-input{
        position: relative;
        display: block;
        margin: 5px 0;
        color: @cinza-escuro;
        .ubuntu(14px);
        input[type="text"]{
          margin: 0;
          padding: 0 10px;
          height: 30px;
          line-height: 30px;
          box-sizing: border-box;
          color: @cinza-escuro;
          .ubuntu(14px);
          border-radius: 4px;
          width: 100%;
          background: @cinza-claro;
        }
        &.espacado{
          margin-top: 20px;
        }
        &.input-erro{
          input{
            background: #fbedeb;
            border: 1px solid #ec9488;
            &:focus{
              outline: none;
              box-shadow: 0 0 6px #ec9488;
            }
          }
        }
        &.input-erro:after{
          text-align: right;
          position: absolute;
          right: 4px;
          bottom: 2px;
          color: #f6546a;
          display: block;
          line-height: 100%;
          .ubuntu(10px);
        }
        &.obrigatorio:after{ content: "campo obrigatório"; }
        &.unidade-invalida:after{ content: "unidade inválida"; }
        &.contem-radio{
          width: 45%;
          height: 30px;
          line-height: 30px;
          border-radius: 4px;
          padding-left: 10px;
          display: inline-block;
          vertical-align: top;
          &.input-erro{
            background: #fbedeb;
            border: 1px solid #ec9488;
          }
        }
      }
    }
  }
  #retorno_formulario_shadow{ display:none; }
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
