@import '../vars.less';

.centro{
	width: 980px;
	max-width: 100%;
	.centralizar;
}

#login-section{
	.login-banner{
		height: 360px;
		background: url('../../images/layout/moradores/banner-home.jpg') center top no-repeat;
		.login-branding{
			margin-left: 50px;
			background: rgba(255, 255, 255, 0.8);
			padding: 22px 30px;
			box-sizing: border-box;
			width: 240px;
			font-size: 0;
			.login-marca{
				width:90px;
				.inline;
				img{
					max-width: 100%;
				}
			}
			p{
				margin-top: -3px;
				line-height: 110%;
				.ubuntu(14px, bold);
				color: #000;
				width: 90px;
				margin: 0;
				.inline;
			}
		}
	}
	.login-inferior{
		margin-top: -120px;
		font-size: 0;
		background: rgba(255, 255, 255, .6);
		.login-mostra-areas{
			height: 240px;
			width: 240px;
			margin-left: 50px;
			font-size: 0;
			.inline;
			.area{
				height: 120px;
				width: 120px;
				.ubuntu(12px, bold);
				color:#fff;
				text-align: center;
				position: relative;
				.inline;
				p{
					padding:0 9px;
					text-transform: uppercase;
					line-height: 130%;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
				&:after{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 120px;
					height: 120px;
					opacity: 1;
					transition: opacity .3s ease-in;
				}
				&:hover:after{
					opacity: 0;
				}
				&.area-admin{background-color:@azul-setor-adm;}
				&.area-unidade{background-color:@rosa-setor-uni;}
				&.area-areascomuns{background-color:@laranja-setor-areascomuns;}
				&.area-acesso{background-color:@amarelo-setor-controle;}
				&.area-admin:after{background:url('../../images/layout/moradores/iconehome-administracao.png') @azul-setor-adm center center no-repeat}
				&.area-unidade:after{background:url('../../images/layout/moradores/iconehome-unidade.png') @rosa-setor-uni center center no-repeat}
				&.area-areascomuns:after{background:url('../../images/layout/moradores/iconehome-areascomuns.png') @laranja-setor-areascomuns center center no-repeat}
				&.area-acesso:after{background:url('../../images/layout/moradores/iconehome-acesso.png') @amarelo-setor-controle center center no-repeat}
			}
		}
		.login-form{
			max-width: 680px;
			height: 240px;
			box-sizing: border-box;
			.inline;
			.pagina-nao-encontrada{
				height: 120px;
				padding: 20px 30px;
				box-sizing: border-box;
				h1{
					text-transform: uppercase;
					.ubuntu(16px, normal);
					height: 31px;
					line-height: 31px;
					color: @cinza-escuro;
					&.erro{

					}
				}
			}
			form{
				height: 120px;
				padding: 20px 30px;
				box-sizing: border-box;
				h2{
					text-transform: uppercase;
					.ubuntu(16px, normal);
					height: 31px;
					line-height: 31px;
					color: @cinza-escuro;
				}
				.login-form-input{
					display: block;
					position: relative;
					width: 230px;
					&.inline{
						.inline;
						margin: 4px 4px 4px 0;
					}
					&.erro{
						input{
							background: #fbedeb;
	  						border: 1px solid #ec9488;
	  						&:focus{
	  							outline: none;
	  							box-shadow: 0 0 6px #ec9488;
	  						}
	  					}
					}
					&.erro:after{
						display: block;
						position: absolute;
						right: 4px;
						bottom: 2px;
						color: #f6546a;
						.ubuntu(10px);
					}
  					&.obrigatorio:after{ content: "campo obrigatório"; }
  					&.login-invalido:after{ content: "login inválido"; }
  					&.login-fail:after{ content: "verifique login e senha"; }
				}
				input[type="text"],
				input[type="password"]{
					box-sizing: border-box;
					width: 230px;
					height: 31px;
					border-radius: 5px;
					padding: 0 10px;
					color: @cinza;
					transition: all .3s ease-in;
					.ubuntu(12px);
					&:focus{ outline: none; }
				}
				input[type="submit"]{
					.inline;
					margin-top: 4px;
					text-align: center;
					background-color: @cinza;
					color: #fff;
					transition: all .3s ease-in;
					border-radius: 5px;
					box-sizing: border-box;
					width: 50px;
					height: 31px;
					line-height: 31px;
					transition: background-color .3s ease-in;
					.ubuntu(16px, bold);
					&:hover{
						background-color: @verde;
						cursor: pointer;
					}
				}
				p{
					color:@cinza;
					line-height: 140%;
					.ubuntu(12px);
					margin: 22px 0 0 0;
				}
			}
		}
	}
}