@import '../vars.less';

#animais-de-estimacao-main{
	ul#lista-registros{
		margin: 20px 0 0 0;
		padding: 15px 0 0 0;
		font-size: 0;
		border-top:1px @verde solid;
		font-size: 0;
		li{
			.inline;
			width: 50%;
			padding-bottom: 15px;
			.animais-de-estimacao-foto{
				.inline;
				width: 40%;
				img{
					max-width: 122px;
				}
			}
			.animais-de-estimacao-texto{
				.inline;
				width: 60%;
				height: 100%;
				position: relative;
				.animais-de-estimacao-espacamento{
					height:122px;
					h2{
						.ubuntu(14px);
						color: @cinza-escuro;
						line-height: 130%;
					}
					.especie{
						.ubuntu(14px);
						color: @cinza-escuro;
						line-height: 130%;
					}
					.sexo{
						.ubuntu(14px);
						color: @cinza-escuro;
						line-height: 130%;
					}
					.acoes{
						position: absolute;
						bottom: 0;
						left: 0;
						.btn{
							margin: 0 3px 0 0;
						}
					}
				}
			}
		}
	}
	#controle-animais-de-estimacao{
		border-top: 1px @verde solid;
		padding: 30px 0 0 0;
		margin: 20px 0 0 0;
		form{
			position: relative;
			padding-top: 30px;
			box-sizing: border-box;

			overflow: hidden;
			max-height: 0;
			opacity: 0;

			transition: opacity .3s ease-in 0s,
						max-height .3s ease-in 0s;

			&.aberto{
				max-height: 180px;
				opacity: 1;
			}

			fieldset{
				width: 62%;
				label.animais-de-estimacao-form-input{
					position: relative;
					display: block;
					margin-bottom: 5px;
					input[type="text"],
					select{
						background: #F0F0F0;
						box-sizing: border-box;
						width: 100%;
						height: 31px;
						border-radius: 5px;
						padding: 0 10px;
						color: @cinza-escuro;
						transition: all .3s ease-in;
						.ubuntu(12px);
						&:focus{
	  						outline: none;
	  					}
	  				}
	  				&.input-inline{
						.inline;
						margin-right: 4px;
					}
					&.input-erro{
						input, select{
							background: #fbedeb;
	  						border: 1px solid #ec9488;
	  						&:focus{
	  							outline: none;
	  							box-shadow: 0 0 6px #ec9488;
	  						}
	  					}
					}
					&.input-erro:after{
						text-align: right;
						position: absolute;
						right: 4px;
						bottom: 2px;
						color: #f6546a;
						display: block;
						.ubuntu(10px);
					}
					&.obrigatorio:after{ content: "campo obrigatório"; }
				}
			}
			.animais-de-estimacao-input-addon{
				position: absolute;
				right: -48px;
				top: 2px;
				width: 45px;
				height: 20px;
				img{
					float: left;
					width: 20px;
					height: 20px;
				}
				&:hover{ cursor: pointer; }
				a.animais-de-estimacao-form-set_visibilidade{
					float:left;
					margin-left: 5px;
					position:relative;
					margin-top: 3px;
					display: block;
					width: 20px;
					height: 20px;
					background: url('../../images/layout/moradores/sprite-visualizacao.png') no-repeat;
					&.off{ background-position: -21px 0; }
					&.on{ background-position: 0 0; }
					&:hover:after{opacity:1;}
					&:after{
						transition: opacity .3s ease-in;
						content: "";
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						background: url('../../images/layout/moradores/sprite-visualizacao.png') no-repeat;
						background-position: 0 0;
						opacity:0;
					}
				}
				&:after{
					opacity: 0;
					transition: opacity .3s ease-in;
				}
				&.input-erro:after{
					width: 60px;
					position: absolute;
					left: 49px;
					top: 0px;
					color: #f6546a;
					opacity: 1;
					.ubuntu(10px);
				}
				&.obrigatorio:after{
					content: "« selecione a visibilidade";
					display: block;
				}
				&.recuoo-normal{
					right: -23px;
					width: 20px;
					img{
						float: none;
					}
					&.input-erro:after{left: 22px;}
				}
			}
			.input-foto{
				position: absolute;
				right: 0;
				top: 30px;
				width: 150px;
				height: 120px;
				.animais-de-estimacao-input-addon{
					right: 0;
				}
				.animais-de-estimacao-foto-placeholder{
					width: 110px;
					height: 110px;
					border: 1px @verde solid;
					margin: 5px;
					outline: 5px @cinza-claro solid;
					background: @cinza-claro;
					label{
						transition: all .3s ease-in;
						position: relative;
						display: block;
						width: 110px;
						height: 110px;
						cursor: pointer;
						overflow: hidden;
						&:hover{}
						p{
							transition: color .3s ease-in;
							.ubuntu(14px);
							line-height: 130%;
							color: @cinza-escuro;
							text-align: center;
							position: relative;
							top: 50%;
							transform: translateY(-50%);
						}
						img{
							max-width: 100%;
							max-width: 100%;
							position: absolute;
							top: 0;
							left: 0;
						}
						input{
							position: absolute;
							opacity: 0;
							max-width: 100%;
							box-sizing: border-box;
						}
						#upload-progresso{
							position: absolute;
							width: 60px;
							height: 3px;
							border-radius: 3px;
							left: 25px;
							bottom: 15px;
							border-radius: 3px;
							border: 1px #ccc solid;
							opacity: 0;
							transition: opacity .3s ease-in;
							.barra{
								height: 3px;
								width: 10%;
								background-color: @verde;
							}
						}
						&.enviando{
							#upload-progresso{
								opacity: 0.8;
							}
						}
						&.input-erro{
							background: #fbedeb;
	  						box-shadow: 0 0 14px #ec9488;
	  						p {color: #f6546a;}
						}
					}
				}
			}
		}
	}
}