@import '../vars.less';

#classificados-main{

  .seleciona-categoria-anuncio{
    margin-bottom: 20px;
    a.btn{
      text-transform: uppercase;
      margin-right: 5px;
      &:last-child{
        margin-right: 0;
      }
    }
  }

  p small{
    display: block;
    padding: 15px 0;
    strong{
      font-style: italic;
    }
  }

  #controle-classificados{
		border-top: 1px @verde solid;
		padding: 30px 0 0 0;
		margin: 20px 0 0 0;
		form{
			position: relative;
			padding-top: 30px;
			box-sizing: border-box;

			overflow: hidden;
			max-height: 0;
			opacity: 0;

			transition: opacity .3s ease-in 0s,
						max-height .3s ease-in 0s;

			&.aberto{
				max-height: 350px;
				opacity: 1;
			}

			fieldset{
				width: 62%;
				label.classificados-form-input{
					position: relative;
					display: block;
					margin-bottom: 5px;
					input[type="text"],
          select,
          textarea{
						background: #F0F0F0;
						box-sizing: border-box;
						width: 100%;
						height: 31px;
						border-radius: 5px;
						padding: 0 10px;
						color: @cinza-escuro;
						transition: all .3s ease-in;
						.ubuntu(12px);
						&:focus{
	  						outline: none;
	  					}
	  			}
	  			&.input-inline{
						.inline;
						margin-right: 4px;
					}
					&.input-erro{
						input,
            select,
            textarea{
							background: #fbedeb;
	  						border: 1px solid #ec9488;
	  						&:focus{
	  							outline: none;
	  							box-shadow: 0 0 6px #ec9488;
	  						}
	  					}
					}
          textarea{
  					padding: 10px;
  					height: 80px;
            &.altura_extra{
              height: 130px;
            }
  				}
					&.input-erro:after{
						text-align: right;
						position: absolute;
						right: 4px;
						bottom: 2px;
						color: #f6546a;
						display: block;
						.ubuntu(10px);
					}
					&.obrigatorio:after{ content: "campo obrigatório"; }
				}
			}
      .input-foto{
  			position: absolute;
  			right: 0;
  			top: 30px;
  			width: 150px;
  			.classificados-input-addon{
  				right: 0;
  			}
  			.classificados-foto-placeholder{
  				width: 110px;
  				height: 110px;
  				border: 1px @verde solid;
  				margin: 5px;
  				outline: 5px @cinza-claro solid;
  				background: @cinza-claro;
  				label{
  					transition: all .3s ease-in;
  					position: relative;
  					display: block;
  					width: 110px;
  					height: 110px;
  					cursor: pointer;
  					overflow: hidden;
  					&:hover{}
  					p{
  						transition: color .3s ease-in;
  						.ubuntu(14px);
  						line-height: 130%;
  						color: @cinza-escuro;
  						text-align: center;
  						position: relative;
  						top: 50%;
  						transform: translateY(-50%);
  					}
  					img{
  						max-width: 100%;
  						max-width: 100%;
  						position: absolute;
  						top: 0;
  						left: 0;
  					}
  					input{
  						position: absolute;
  						opacity: 0;
  						max-width: 100%;
  						box-sizing: border-box;
  					}
  					#upload-progresso{
  						position: absolute;
  						width: 60px;
  						height: 3px;
  						border-radius: 3px;
  						left: 25px;
  						bottom: 15px;
  						border-radius: 3px;
  						border: 1px #ccc solid;
  						opacity: 0;
  						transition: opacity .3s ease-in;
  						.barra{
  							height: 3px;
  							width: 10%;
  							background-color: @verde;
  						}
  					}
  					&.enviando{
  						#upload-progresso{
  							opacity: 0.8;
  						}
  					}
  					&.input-erro{
  						background: #fbedeb;
    						box-shadow: 0 0 14px #ec9488;
    						p {color: #f6546a;}
  					}
  				}
  			}
  			ul.lista-imagens{
  				list-style: none;
  				width: 122px;
  				margin-top: 10px;
  				font-size: 0;
  				li{
  					margin: 0 0 3px 0;
  					height: 36px;
  					border-top: 1px @verde solid;
  					padding: 3px;
  					width: 50%;
  					box-sizing: border-box;
  					transition: background .3s ease-in;
  					.inline;
  					&:hover{
  						background: @success;
  					}
  					img{
  						.inline;
  						max-height: 30px;
  						vertical-align: middle;
  						margin-right: 3px;
  					}
  					a{
  						.inline;
  					}
  				}
  			}
  		}
		}
	}

  ul.lista-anuncios{
    li{
      box-sizing: border-box;
      max-width: 60%;
      padding: 15px 15px 10px 15px;
      background: @cinza-claro;
      border-radius: 4px;
      margin-bottom: 10px;
      .galeria-anuncio{
        margin-bottom: 10px;
        .abre-galeria-anuncio{
          position: relative;
          &:nth-child(n+2){
            display: none;
          }
          img{
            border:1px @laranja solid;
            max-height: 100px;
            transition: border .3s ease-in;
          }
          &:after{
            white-space: nowrap;
            content: "+ fotos";
            display: block;
            background: @laranja;
            border-radius: 3px;
            position: absolute;
            left: 110%;
            top: -95px;
            padding: 4px 6px;
            font-style: italic;
            color: #fff;
            .ubuntu(12px, bold);
            transition: background .3s ease-in;
          }
          &:hover{
            img{
              border-color: @azul-setor-adm-texto;
            }
            &:after{
              background: @azul-setor-adm-texto;
            }
          }
        }
      }
      h2{
        .ubuntu(16px, bold);
        color: @cinza-escuro;
      }
      .texto{
        line-height: 150%;
        .ubuntu(15px);
        margin: 6px 0;
        color: @cinza-escuro;
      }
      .contato{
        padding: 8px;
        background: #fff;
        line-height: 160%;
        border-radius: 2px;
        .ubuntu(12px);
        color: @cinza-escuro;
        a{
          color: @verde;
          transition: color .3s ease-in;
          &:hover{
            color: @azul-setor-adm-texto;
          }
        }
      }
      .assinatura{
        margin: 10px 0;
        .avatar{
          display: inline-block;
          vertical-align: top;
          width: 12%;
          img{
            border-radius: 3px;
            max-width: 100%;
          }
        }
        .dados{
          display: inline-block;
          vertical-align: top;
          width: 85%;
          box-sizing: border-box;
          padding: 6px 0 0 5px;
          .data-publicacao{
            color: @cinza-escuro;
            .ubuntu(11px, 300);
            font-style: italic;
          }
          .morador{
            color: @cinza-escuro;
            .ubuntu(14px);
            padding: 7px 0 0 0;
            strong{
              font-weight: bold;
            }
          }
        }
      }
    }
  }

  #meus-anuncios{
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px @verde solid;
    h3{
      .ubuntu(18px);
  		color: @verde;
  		margin: 0 0 15px 0;
    }
    #lista-registros{
      font-size:12px;
      list-style: none;
      li{
        padding: 20px 0;
        border-bottom: 1px @verde solid;
        .imagem{
          width: 15%;
          display: inline-block;
          vertical-align: top;
          .galeria-anuncio{
            display:block;
            .abre-galeria-anuncio{
              display:block;
              position: relative;
              &:nth-child(n+2){
                display: none;
              }
              img{
                border:1px @laranja solid;
                max-width: 100%;
                transition: border .3s ease-in;
              }
              &:after{
                white-space: nowrap;
                content: "+ fotos";
                display: block;
                background: @laranja;
                border-radius: 3px;
                position: absolute;
                left: 110%;
                top: 0px;
                padding: 4px 6px;
                font-style: italic;
                color: #fff;
                .ubuntu(12px, bold);
                transition: background .3s ease-in;
              }
              &:hover{
                img{
                  border-color: @azul-setor-adm-texto;
                }
                &:after{
                  background: @azul-setor-adm-texto;
                }
              }
            }
          }
        }
        .corpo-anuncio{
          width: 70%;
          margin-left: 12%;
          display: inline-block;
          vertical-align: top;
          .data-publicacao{
            color: @cinza-escuro;
            .ubuntu(11px, 300);
            font-style: italic;
          }
          h2{
            margin: 15px 0;
            .ubuntu(16px, bold);
            color: @cinza-escuro;
          }
          .descricao{
            line-height: 150%;
            .ubuntu(15px);
            margin: 6px 0;
            color: @cinza-escuro;
          }
          .contato{
            margin: 15px 0;
            line-height: 160%;
            .ubuntu(12px, bold);
            color: @cinza-escuro;
            a{
              color: @verde;
              transition: color .3s ease-in;
              &:hover{
                color: @azul-setor-adm-texto;
              }
            }
          }
          .controles-anuncio{}
        }
      }
    }
  }
}