@import '../vars.less';

#chamados-de-manutencao-main{
	form{
		padding: 30px 0 0 0;
		margin: 20px 0 0 0;
		border-top: 1px @verde solid;
		position: relative;
		padding-top: 30px;
		box-sizing: border-box;
		fieldset{
			width: 62%;
			label.chamados-de-manutencao-form-input{
				position: relative;
				display: block;
				margin-bottom: 5px;
				input[type="text"],
				textarea{
					background: #F0F0F0;
					box-sizing: border-box;
					width: 100%;
					height: 31px;
					border-radius: 5px;
					padding: 0 10px;
					color: @cinza-escuro;
					transition: all .3s ease-in;
					.ubuntu(12px);
					&:focus{
  						outline: none;
  					}
  				}
  				&.input-inline{
					.inline;
					margin-right: 4px;
				}
				&.input-erro{
					input, textarea{
						background: #fbedeb;
  						border: 1px solid #ec9488;
  						&:focus{
  							outline: none;
  							box-shadow: 0 0 6px #ec9488;
  						}
  					}
				}
				&.input-erro:after{
					text-align: right;
					position: absolute;
					right: 4px;
					bottom: 2px;
					color: #f6546a;
					display: block;
					.ubuntu(10px);
				}
				&.obrigatorio:after{ content: "campo obrigatório"; }

				textarea{
  					padding: 10px;
  					height: 80px;
  				}
				&.contem-textarea.input-erro:after{
  					bottom: 4px;
  				}
			}
		}
		.chamados-de-manutencao-input-addon{
			position: absolute;
			right: -48px;
			top: 2px;
			width: 45px;
			height: 20px;
			img{
				float: left;
				width: 20px;
				height: 20px;
			}
			&:hover{ cursor: pointer; }
			a.chamados-de-manutencao-form-set_visibilidade{
				float:left;
				margin-left: 5px;
				position:relative;
				margin-top: 3px;
				display: block;
				width: 20px;
				height: 20px;
				background: url('../../images/layout/moradores/sprite-visualizacao.png') no-repeat;
				&.off{ background-position: -21px 0; }
				&.on{ background-position: 0 0; }
				&:hover:after{opacity:1;}
				&:after{
					transition: opacity .3s ease-in;
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 20px;
					height: 20px;
					background: url('../../images/layout/moradores/sprite-visualizacao.png') no-repeat;
					background-position: 0 0;
					opacity:0;
				}
			}
			&:after{
				opacity: 0;
				transition: opacity .3s ease-in;
			}
			&.input-erro:after{
				width: 60px;
				position: absolute;
				left: 49px;
				top: 0px;
				color: #f6546a;
				opacity: 1;
				.ubuntu(10px);
			}
			&.obrigatorio:after{
				content: "« selecione a visibilidade";
				display: block;
			}
			&.recuoo-normal{
				right: -23px;
				width: 20px;
				img{
					float: none;
				}
				&.input-erro:after{left: 22px;}
			}
		}
		.input-foto{
			position: absolute;
			right: 0;
			top: 30px;
			width: 150px;
			.chamados-de-manutencao-input-addon{
				right: 0;
			}
			.chamados-de-manutencao-foto-placeholder{
				width: 110px;
				height: 110px;
				border: 1px @verde solid;
				margin: 5px;
				outline: 5px @cinza-claro solid;
				background: @cinza-claro;
				label{
					transition: all .3s ease-in;
					position: relative;
					display: block;
					width: 110px;
					height: 110px;
					cursor: pointer;
					overflow: hidden;
					&:hover{}
					p{
						transition: color .3s ease-in;
						.ubuntu(14px);
						line-height: 130%;
						color: @cinza-escuro;
						text-align: center;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
					}
					img{
						max-width: 100%;
						max-width: 100%;
						position: absolute;
						top: 0;
						left: 0;
					}
					input{
						position: absolute;
						opacity: 0;
						max-width: 100%;
						box-sizing: border-box;
					}
					#upload-progresso{
						position: absolute;
						width: 60px;
						height: 3px;
						border-radius: 3px;
						left: 25px;
						bottom: 15px;
						border-radius: 3px;
						border: 1px #ccc solid;
						opacity: 0;
						transition: opacity .3s ease-in;
						.barra{
							height: 3px;
							width: 10%;
							background-color: @verde;
						}
					}
					&.enviando{
						#upload-progresso{
							opacity: 0.8;
						}
					}
					&.input-erro{
						background: #fbedeb;
  						box-shadow: 0 0 14px #ec9488;
  						p {color: #f6546a;}
					}
				}
			}
			ul.lista-imagens{
				list-style: none;
				width: 122px;
				margin-top: 10px;
				font-size: 0;
				li{
					margin: 0 0 3px 0;
					height: 36px;
					border-top: 1px @verde solid;
					padding: 3px;
					width: 50%;
					box-sizing: border-box;
					transition: background .3s ease-in;
					.inline;
					&:hover{
						background: @success;
					}
					img{
						.inline;
						max-height: 30px;
						vertical-align: middle;
						margin-right: 3px;
					}
					a{
						.inline;
					}
				}
			}
		}
	}
	ul.lista-chamados{
		margin-top: 20px;
		border-top: 1px @success solid;
		padding: 20px 0;
		li{
			display: block;
			margin: 0 0 20px 0;
			background: @cinza-claro;
			border-radius: 5px;
			padding: 13px 20px;
			width: 100%;
			box-sizing: border-box;
			font-size: 0;
			.coluna-esquerda{
				.inline;
				width: 20%;
				h2{
					.ubuntu(10px, bold);
					line-height: 150%;
					color: @cinza;
				}
				small{
					.ubuntu(10px);
					display: block;
					margin-top: 6px;
					line-height: 120%;
					color: @cinza;
					font-style: italic;
				}
				.chamado-timestamp{
					.ubuntu(10px, bold);
					color: @cinza;
				}
			}
			.coluna-direita{
				.inline;
				width: 80%;
				.chamado-texto{
					p{
						.ubuntu(12px);
						color: @cinza-escuro;
						line-height: 140%;
						margin: 0 0 15px 0;
					}
					hr{
						display: block;
						margin: 20px 0;
					}
					em{
						font-style: italic;
					}
					.lista-imagens{
						a{
							.inline;
							width: 80px;
							height: 80px;
							border: 1px @cinza-escuro solid;
							margin: 0 5px 5px 0;
							padding: 5px;
							img{
								max-width: 100%;
								max-height: 100%;
							}
						}
					}
				}
				.chamado-toggle-texto{
					.ubuntu(11px, bold);
					.inline;
					height: 13px;
					line-height: 13px;
					color: @verde;
					margin-top: 10px;
					padding-left: 15px;
					background-position: left center;
					background-repeat: no-repeat;
					background-size: auto 13px;
					&.abrir{background-image: url('../../images/layout/moradores/setinha-expandir.png');}
					&.fechar{background-image: url('../../images/layout/moradores/setinha-recolher.png');}
				}
			}
		}
	}
}