@import '../vars.less';

.centro{
	width: 980px;
	max-width: 100%;
	.centralizar;
}

#login-section{
	.login-banner{
		height: 360px;
		background: url('../../images/layout/moradores/banner-home.jpg') center top no-repeat;
		.login-branding{
			margin-left: 50px;
			background: rgba(255, 255, 255, 0.8);
			padding: 22px 30px;
			box-sizing: border-box;
			width: 240px;
			font-size: 0;
			.login-marca{
				width:90px;
				.inline;
				img{
					max-width: 100%;
				}
			}
			p{
				margin-top: -3px;
				line-height: 110%;
				.ubuntu(14px, bold);
				color: #000;
				width: 90px;
				margin: 0;
				.inline;
			}
		}
	}
	.login-inferior{
		margin-top: -120px;
		font-size: 0;
		background: rgba(255, 255, 255, .6);
		.login-mostra-areas{
			height: 240px;
			width: 240px;
			margin-left: 50px;
			font-size: 0;
			.inline;
			.area{
				height: 120px;
				width: 120px;
				.ubuntu(12px, bold);
				color:#fff;
				text-align: center;
				position: relative;
				.inline;
				p{
					padding:0 9px;
					text-transform: uppercase;
					line-height: 130%;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
				&:after{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 120px;
					height: 120px;
					opacity: 1;
					transition: opacity .3s ease-in;
				}
				&:hover:after{
					opacity: 0;
				}
				&.area-admin{background-color:@azul-setor-adm;}
				&.area-unidade{background-color:@rosa-setor-uni;}
				&.area-areascomuns{background-color:@laranja-setor-areascomuns;}
				&.area-acesso{background-color:@amarelo-setor-controle;}
				&.area-admin:after{background:url('../../images/layout/moradores/iconehome-administracao.png') @azul-setor-adm center center no-repeat}
				&.area-unidade:after{background:url('../../images/layout/moradores/iconehome-unidade.png') @rosa-setor-uni center center no-repeat}
				&.area-areascomuns:after{background:url('../../images/layout/moradores/iconehome-areascomuns.png') @laranja-setor-areascomuns center center no-repeat}
				&.area-acesso:after{background:url('../../images/layout/moradores/iconehome-acesso.png') @amarelo-setor-controle center center no-repeat}
			}
		}
		.login-form,
		.recuperacao-form,
		.redefinicao-form{
			max-width: 680px;
			height: 240px;
			box-sizing: border-box;
			.inline;
			.pagina-nao-encontrada{
				height: 120px;
				padding: 20px 30px;
				box-sizing: border-box;
				h1{
					text-transform: uppercase;
					.ubuntu(16px, normal);
					height: 31px;
					line-height: 31px;
					color: @cinza-escuro;
					&.erro{

					}
				}
			}
			form{
				height: 120px;
				padding: 20px 30px;
				box-sizing: border-box;
				h2{
					text-transform: uppercase;
					.ubuntu(16px, normal);
					height: 31px;
					line-height: 31px;
					color: @cinza-escuro;
				}
				.login-form-input{
					display: block;
					position: relative;
					width: 230px;
					&.inline{
						.inline;
						margin: 4px 4px 4px 0;
					}
					&.erro{
						input{
							background: #fbedeb;
	  						border: 1px solid #ec9488;
	  						&:focus{
	  							outline: none;
	  							box-shadow: 0 0 6px #ec9488;
	  						}
	  					}
					}
					&.erro:after{
						display: block;
						position: absolute;
						right: 4px;
						bottom: 2px;
						color: #f6546a;
						.ubuntu(10px);
					}
  					&.obrigatorio:after{ content: "campo obrigatório"; }
  					&.email-invalido:after{ content: "e-mail inválido"; }
  					&.login-fail:after{ content: "verifique usuário e senha"; }
  					&.confirmacao-senha-invalida:after{ content: "confirmação de senha inválida"; }
				}
				input[type="email"],
				input[type="password"]{
					box-sizing: border-box;
					width: 230px;
					height: 31px;
					border-radius: 5px;
					padding: 0 10px;
					color: @cinza;
					transition: all .3s ease-in;
					.ubuntu(12px);
					&:focus{ outline: none; }
				}
				input[type="submit"]{
					.inline;
					margin-top: 4px;
					text-align: center;
					background-color: @cinza;
					color: #fff;
					transition: all .3s ease-in;
					border-radius: 5px;
					box-sizing: border-box;
					width: 50px;
					height: 31px;
					line-height: 31px;
					transition: background-color .3s ease-in;
					.ubuntu(16px, bold);
					&:hover{
						background-color: @verde;
						cursor: pointer;
					}
				}
				a.login-recovery-link{
					.ubuntu(10px);
					font-style: italic;
					transition: color .3s ease-in;
					color: @cinza;
					margin-left: 10px;
					&:active, &:visited{color: @cinza;}
					&:hover{color: #000;}
				}
				p{
					color:@cinza;
					line-height: 140%;
					.ubuntu(12px);
					margin: 22px 0 0 0;
					&.recuperacao-resposta{
						width: 350px;
						height: 31px;
						line-height: 31px;
						margin: 0;
						text-align: center;
						padding: 5px;
						border-radius: 4px;
						background: #fff;
						border: 1px transparent solid;
						strong{
							font-weight: bold;
						}
						&.erro{
							border-color: @laranja;
							color: @laranja;
						}
						&.sucesso{
							border-color: @verde;
							color: @verde;
						}
					}
				}
			}
			.login-disclaimer{
				height: 120px;
				padding: 20px 30px 0 30px;
				box-sizing: border-box;
				a.login-register-link{
					display: block;
					border: 1px @cinza solid;
					border-radius: 6px;
					width: 230px;
					height: 31px;
					line-height: 31px;
					box-sizing: border-box;
					text-align: center;
					color: @cinza;
					transition: all .3s ease-in;
					.ubuntu(16px);
					&:active, &:visited{color: @cinza;}
					&:hover{
						border-color: @success;
						background-color: @success;
						color:#fff;
					}
				}
				p{
					color:@cinza;
					line-height: 140%;
					.ubuntu(12px);
					margin: 22px 0 0 0;
					&.ativacao-resposta{
						margin: 0;
						text-align: center;
						padding: 5px;
						border-radius: 4px;
						background: #fff;
						border: 1px transparent solid;
						strong{
							font-weight: bold;
						}
						&.erro{
							border-color: @laranja;
							border-color: @laranja;
							color: @laranja;
						}
						&.sucesso{
							border-color: @verde;
							color: @verde;
							color: @verde;
						}
					}
				}
			}
		}
		.redefinicao-form{
			form{
				padding: 5px 30px;
			}
		}
	}
}

#register-section{
	font-size: 0;
	aside{
		.inline;
		width:290px;
		.register-branding{
			background: #fff;
			padding: 22px 30px;
			box-sizing: border-box;
			width: 240px;
			font-size: 0;
			.register-marca{
				.inline;
				width:90px;
				img{
					display: block;
					max-width: 100%;
				}
			}
			p{
				margin-top: -3px;
				line-height: 110%;
				.ubuntu(14px, bold);
				color: #000;
				width: 90px;
				margin: 0;
				.inline;
			}
		}
		.register-mostra-areas{
			height: 240px;
			width: 240px;
			font-size: 0;
			.area{
				height: 120px;
				width: 120px;
				.ubuntu(12px, bold);
				color:#fff;
				text-align: center;
				position: relative;
				.inline;
				p{
					padding:0 9px;
					text-transform: uppercase;
					line-height: 130%;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
				}
				&:after{
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					display: block;
					width: 120px;
					height: 120px;
					opacity: 1;
					transition: opacity .3s ease-in;
				}
				&:hover:after{
					opacity: 0;
				}
				&.area-admin{background-color:@azul-setor-adm;}
				&.area-unidade{background-color:@rosa-setor-uni;}
				&.area-areascomuns{background-color:@laranja-setor-areascomuns;}
				&.area-acesso{background-color:@amarelo-setor-controle;}
				&.area-admin:after{background:url('../../images/layout/moradores/iconehome-administracao.png') @azul-setor-adm center center no-repeat}
				&.area-unidade:after{background:url('../../images/layout/moradores/iconehome-unidade.png') @rosa-setor-uni center center no-repeat}
				&.area-areascomuns:after{background:url('../../images/layout/moradores/iconehome-areascomuns.png') @laranja-setor-areascomuns center center no-repeat}
				&.area-acesso:after{background:url('../../images/layout/moradores/iconehome-acesso.png') @amarelo-setor-controle center center no-repeat}
			}
		}
	}
	#register-form{
		width: 690px;
		.inline;
		.register-titulo{
			padding-top: 70px;
			height: 120px;
			box-sizing: border-box;
			h1{
				.ubuntu(20px);
				color: @cinza;
				margin: 0;
			}
		}
		.register-form-resposta{
			.ubuntu(15px);
			text-align: center;
			padding: 20px;
			margin: 0 0 20px 0;
			line-height: 130%;
			width: 400px;
			border-radius: 4px;
			background: #fff;
			border: 1px transparent solid;
			strong{
				font-weight: bold;
				display: block;
			}
			&.erro{
				border-color: @laranja;
				color: @laranja;
			}
			&.sucesso{
				border-color: @verde;
				color: @verde;
			}
		}
		form{
			position: relative;
			fieldset{
				width: 400px;
				.register-form-input{
					position: relative;
					display: block;
					margin-bottom: 4px;
					input[type="text"],
					input[type="email"],
					input[type="password"],
					select{
						background: #F0F0F0;
						box-sizing: border-box;
						width: 100%;
						height: 31px;
						border-radius: 5px;
						padding: 0 10px;
						color: @cinza-escuro;
						transition: all .3s ease-in;
						.ubuntu(12px);
						&:focus{
	  						outline: none;
	  					}
					}
					&.input-inline{
						.inline;
						margin-right: 4px;
					}
					&.input-peq{ width: 70px; }
					&.input-med{ width: 155px; }
					&.input-espacado{ margin-bottom:20px; }
					&.input-erro{
						input{
							background: #fbedeb;
	  						border: 1px solid #ec9488;
	  						&:focus{
	  							outline: none;
	  							box-shadow: 0 0 6px #ec9488;
	  						}
	  					}
					}
					&.input-erro:after{
						text-align: right;
						position: absolute;
						right: 4px;
						bottom: 2px;
						color: #f6546a;
						display: block;
						.ubuntu(10px);
					}
  					&.obrigatorio:after{ content: "campo obrigatório"; }
  					&.email-invalido:after{ content: "e-mail inválido"; }
					&.confirmacao-senha-invalida:after{ content: "confirmação de senha inválida"; }
					&.email-em-uso:after{ content: "e-mail já está em uso"; }
				}
			}
			.register-input-addon{
				position: absolute;
				right: -23px;
				top: 2px;
				width: 20px;
				height: 20px;
				img{
					width: 20px;
					height: 20px;
				}
				&:hover{ cursor: pointer; }
				a.register-form-set_visibilidade{
					position:relative;
					margin-top: 3px;
					display: block;
					width: 20px;
					height: 20px;
					background: url('../../images/layout/moradores/sprite-visualizacao.png') no-repeat;
					&.off{ background-position: -21px 0; }
					&.on{ background-position: 0 0; }
					&:hover:after{opacity:1;}
					&:after{
						transition: opacity .3s ease-in;
						content: "";
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						background: url('../../images/layout/moradores/sprite-visualizacao.png') no-repeat;
						background-position: 0 0;
						opacity:0;
					}
					&.visib-email{}
					&.visib-tel_fixo{}
					&.visib-tel_cel{}
					&.visib-tel_com{}
				}
				#register-visibilidade-email{
					display: none;
				}
				&:after{
					opacity: 0;
					transition: opacity .3s ease-in;
				}
				&.input-erro:after{
					width: 60px;
					position: absolute;
					left: 22px;
					top: 0px;
					color: #f6546a;
					opacity: 1;
					.ubuntu(10px);
				}
				&.obrigatorio:after{
					content: "« selecione a visibilidade";
					display: block;
				}
			}
			.input-foto{
				position: absolute;
				right: 0;
				top: 0;
				width: 150px;
				height: 120px;
				.register-input-addon{
					right: 0;
				}
				.register-foto-placeholder{
					width: 110px;
					height: 110px;
					border: 1px @verde solid;
					margin: 5px;
					outline: 5px @cinza-claro solid;
					background: @cinza-claro;
					label{
						transition: all .3s ease-in;
						position: relative;
						display: block;
						width: 110px;
						height: 110px;
						cursor: pointer;
						&:hover{}
						p{
							transition: color .3s ease-in;
							.ubuntu(14px);
							line-height: 130%;
							color: @cinza-escuro;
							text-align: center;
							position: relative;
							top: 50%;
							transform: translateY(-50%);
						}
						img{
							max-width: 100%;
							max-width: 100%;
							position: absolute;
							top: 0;
							left: 0;
						}
						input{
							position: absolute;
							opacity: 0;
						}
						#upload-progresso{
							position: absolute;
							width: 60px;
							height: 3px;
							border-radius: 3px;
							left: 25px;
							bottom: 15px;
							border-radius: 3px;
							border: 1px #ccc solid;
							opacity: 0;
							transition: opacity .3s ease-in;
							.barra{
								height: 3px;
								width: 10%;
								background-color: @verde;
							}
						}
						&.enviando{
							#upload-progresso{
								opacity: 0.8;
							}
						}
						&.input-erro{
							background: #fbedeb;
  						box-shadow: 0 0 14px #ec9488;
							position: relative;
  						p {color: #f6546a;}
							&:after{
								.ubuntu(10px);
								color: #f6546a;
								content: "Selecione uma foto para o cadastro";
						    font-size: 10px;
						    text-align: center;
						    width: 100%;
						    padding: 0 15px;
						    display: block;
						    box-sizing: border-box;
						    bottom: 2px;
						    position: absolute;
							}
						}
					}
				}
			}
			input[type="submit"]{
				margin-top: 10px;
				text-align: center;
				background-color: @cinza;
				color: #fff;
				transition: all .3s ease-in;
				border-radius: 5px;
				box-sizing: border-box;
				width: 120px;
				height: 31px;
				line-height: 31px;
				transition: background-color .3s ease-in;
				.ubuntu(16px, bold);
				&:hover{
					background-color: @verde;
					cursor: pointer;
				}
			}
			.btn-voltar{
				.ubuntu(16px, bold);
				margin: 10px 0 0 5px;
				background: #fff;
				color: @info;
				border: 1px @info solid;
				transition: all .3s ease-in;
				height: 29px;
				line-height: 29px;
				&:hover{
					background: @info;
					color: #fff;
				}
			}
		}
	}
}
