@import '../vars.less';

#agendamento-de-mudanca-main{
	form{
		padding: 20px 0;
		label.agendamento-input{
			.inline;
			width: 25%;
			position: relative;
			input[type="text"],
			select{
				background: #F0F0F0;
				box-sizing: border-box;
				width: 100%;
				height: 31px;
				border-radius: 5px;
				padding: 0 10px;
				color: @cinza-escuro;
				transition: all .3s ease-in;
				.ubuntu(12px);
				&:focus{
					outline: none;
				}
			}
			select{
				margin-left: 5px;
			}
			&.input-inline{
				.inline;
				margin-right: 4px;
			}
			&.input-erro{
				input,
				select{
					background: #fbedeb;
					border: 1px solid #ec9488;
						&:focus{
							outline: none;
							box-shadow: 0 0 6px #ec9488;
						}
					}
			}
			&.input-erro{
				&:after{
					text-align: right;
					position: absolute;
					right: 4px;
					bottom: 2px;
					color: #f6546a;
					display: block;
					.ubuntu(10px);
				}
				&.obrigatorio:after{ content: "campo obrigatório"; }
				&.data-invalida:after{ content: "data já reservada"; }
				&.data-passou:after{ content: "data menor que a atual"; }
			}
		}
		input[type="submit"]{
			margin-top: 4px;
			display: block;
		}
	}
	#link-download-regulamento{
		margin-bottom: 30px;
		a{
			font-style: italic;
			color: @success;
			.ubuntu(14px, bold);
			&:active, &:visited{color: @success;}
			&:hover{}
		}
	}
	.mostra-datas{
		h2{
			font-style: italic;
			color: @cinza-escuro;
			.ubuntu(16px);
		}
		.bloco{
			margin: 7px 0;
			font-style: italic;
			color: @cinza-escuro;
			.ubuntu(12px);
		}
		table#lista-agendamentos{
			margin: 10px 0 0 0;
			thead tr th,
			tbody tr td{
				padding: 0 10px;
				height: 30px;
				line-height: 30px;
				border-right: 1px @success solid;
				border-bottom: 1px @success solid;
				color: @cinza-escuro;
				.ubuntu(14px);
				&:first-child{
					font-weight: bold;
				}
				span{
					font-weight: bold;
					color: @laranja;
				}
				&.meu-agendamento{
					span{
						color: @success;
					}
					.btn{
						margin-left: 6px;
					}
				}
			}
		}
	}
}
