@import '../vars.less';

#fornecedores-main{
  .rating{
    display: block;
    margin: 0 auto;
    padding: 7px;
    width: 10em;
    .ubuntu(13px);
    color: @cinza-escuro;
    position: relative;

    &.alinhado-esquerda{
      margin: 0;
    }

    &.obrigatorio{
      & > label{
        text-shadow: 0 0 2px @danger;
      }
      &:before{
        content: "selecione uma nota";
        position: absolute;
        white-space: nowrap;
        left: 100%;
        top: 10px;
        color: @danger;
        display: block;
        .ubuntu(10px);
      }
    }

    &:after{
      content: "";
      display: block;
      clear: both;
    }

    &:not(:checked) > input {
      position:absolute;
      clip: rect(0px, 0px, 0px, 0px);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }

    &:not(:checked) > label {
      float:right;
      width:1em;
      padding:0;
      overflow:hidden;
      white-space:nowrap;
      cursor:pointer;
      font-size:200%;
      line-height:1.2;
      color:#ddd;
    }

    &:not(:checked) > label:before {
      content: '★ ';
    }

    & > input:checked ~ label {
      color: @laranja;
    }

    &:not(:checked) > label:hover,
    &:not(:checked) > label:hover ~ label {
      color: @laranja;
    }

    & > input:checked + label:hover,
    & > input:checked + label:hover ~ label,
    & > input:checked ~ label:hover,
    & > input:checked ~ label:hover ~ label,
    & > label:hover ~ input:checked ~ label {
      color: @laranja;
    }

    & > label:active {
      position:relative;
      top:2px;
      left:2px;
    }

  }

  #controle-fornecedores{
    margin-top: 20px;
    form{
      padding-top: 0;
      margin-top: 0;
  		border-top: 1px @verde solid;
  		position: relative;
  		box-sizing: border-box;

      overflow: hidden;
      max-height: 0;
      opacity: 0;

      transition: opacity .3s ease-in 0s,
                  max-height .3s ease-in 0s,
                  padding .3s ease-in 0s,
                  margin .3s ease-in 0s;

      &.aberto{
        max-height: 550px;
        opacity: 1;
        padding-top: 30px;
    		margin-top: 20px;
      }

      #fornecedores-form-label-outra_categoria{
        display: none;
      }

  		fieldset{
  			width: 62%;

        #fornecedores-form-avaliacao{
          padding: 10px;
          border-radius: 3px;
          background: @cinza-claro;
          margin-bottom: 15px;
          display: block;
          p{
            .ubuntu(16px, bold);
            color: @cinza-escuro;
          }

          label.fornecedores-form-input textarea{
            background: #FFF;
          }
        }

  			label.fornecedores-form-input{
  				position: relative;
  				display: block;
  				margin-bottom: 5px;
  				input[type="text"],
          select,
  				textarea{
  					background: #F0F0F0;
  					box-sizing: border-box;
  					width: 100%;
  					height: 31px;
  					border-radius: 5px;
  					padding: 0 10px;
  					color: @cinza-escuro;
  					transition: all .3s ease-in;
  					.ubuntu(12px);
  					&:focus{
    						outline: none;
    					}
    				}
    				&.input-inline{
  					.inline;
  					margin-right: 4px;
  				}
  				&.input-erro{
  					input,
            select,
            textarea{
  						background: #fbedeb;
  						border: 1px solid #ec9488;
  						&:focus{
  							outline: none;
  							box-shadow: 0 0 6px #ec9488;
  						}
  					}
  				}
  				&.input-erro:after{
  					text-align: right;
  					position: absolute;
  					right: 4px;
  					bottom: 2px;
  					color: #f6546a;
  					display: block;
  					.ubuntu(10px);
  				}
  				&.obrigatorio:after{ content: "campo obrigatório"; }

  				textarea{
  					padding: 10px;
  					height: 80px;
  				}
  				&.contem-textarea.input-erro:after{
  					bottom: 4px;
  				}
  			}
  		}
  		.fornecedores-input-addon{
  			position: absolute;
  			right: -48px;
  			top: 2px;
  			width: 45px;
  			height: 20px;
  			img{
  				float: left;
  				width: 20px;
  				height: 20px;
  			}
  			&:hover{ cursor: pointer; }
  			a.fornecedores-form-set_visibilidade{
  				float:left;
  				margin-left: 5px;
  				position:relative;
  				margin-top: 3px;
  				display: block;
  				width: 20px;
  				height: 20px;
  				background: url('../../images/layout/moradores/sprite-visualizacao.png') no-repeat;
  				&.off{ background-position: -21px 0; }
  				&.on{ background-position: 0 0; }
  				&:hover:after{opacity:1;}
  				&:after{
  					transition: opacity .3s ease-in;
  					content: "";
  					display: block;
  					position: absolute;
  					top: 0;
  					left: 0;
  					width: 20px;
  					height: 20px;
  					background: url('../../images/layout/moradores/sprite-visualizacao.png') no-repeat;
  					background-position: 0 0;
  					opacity:0;
  				}
  			}
  			&:after{
  				opacity: 0;
  				transition: opacity .3s ease-in;
  			}
  			&.input-erro:after{
  				width: 60px;
  				position: absolute;
  				left: 49px;
  				top: 0px;
  				color: #f6546a;
  				opacity: 1;
  				.ubuntu(10px);
  			}
  			&.obrigatorio:after{
  				content: "« selecione a visibilidade";
  				display: block;
  			}
  			&.recuoo-normal{
  				right: -23px;
  				width: 20px;
  				img{
  					float: none;
  				}
  				&.input-erro:after{left: 22px;}
  			}
  		}
  		.input-foto{
  			position: absolute;
  			right: 0;
  			top: 30px;
  			width: 150px;
  			.fornecedores-input-addon{
  				right: 0;
  			}
  			.fornecedores-foto-placeholder{
  				width: 110px;
  				height: 110px;
  				border: 1px @verde solid;
  				margin: 5px;
  				outline: 5px @cinza-claro solid;
  				background: @cinza-claro;
  				label{
  					transition: all .3s ease-in;
  					position: relative;
  					display: block;
  					width: 110px;
  					height: 110px;
  					cursor: pointer;
  					overflow: hidden;
  					&:hover{}
  					p{
  						transition: color .3s ease-in;
  						.ubuntu(14px);
  						line-height: 130%;
  						color: @cinza-escuro;
  						text-align: center;
  						position: relative;
  						top: 50%;
  						transform: translateY(-50%);
  					}
  					img{
  						max-width: 100%;
  						max-width: 100%;
  						position: absolute;
  						top: 0;
  						left: 0;
  					}
  					input{
  						position: absolute;
  						opacity: 0;
  						max-width: 100%;
  						box-sizing: border-box;
  					}
  					#upload-progresso{
  						position: absolute;
  						width: 60px;
  						height: 3px;
  						border-radius: 3px;
  						left: 25px;
  						bottom: 15px;
  						border-radius: 3px;
  						border: 1px #ccc solid;
  						opacity: 0;
  						transition: opacity .3s ease-in;
  						.barra{
  							height: 3px;
  							width: 10%;
  							background-color: @verde;
  						}
  					}
  					&.enviando{
  						#upload-progresso{
  							opacity: 0.8;
  						}
  					}
  					&.input-erro{
  						background: #fbedeb;
    						box-shadow: 0 0 14px #ec9488;
    						p {color: #f6546a;}
  					}
  				}
  			}
  			ul.lista-imagens{
  				list-style: none;
  				width: 122px;
  				margin-top: 10px;
  				font-size: 0;
  				li{
  					margin: 0 0 3px 0;
  					height: 36px;
  					border-top: 1px @verde solid;
  					padding: 3px;
  					width: 50%;
  					box-sizing: border-box;
  					transition: background .3s ease-in;
  					.inline;
  					&:hover{
  						background: @success;
  					}
  					img{
  						.inline;
  						max-height: 30px;
  						vertical-align: middle;
  						margin-right: 3px;
  					}
  					a{
  						.inline;
  					}
  				}
  			}
  		}
  	}
  }

  #busca-fornecedor{
    margin: 20px 0;
    padding: 20px 0 10px 0;
    border-top: 1px @verde solid;
    border-bottom: 1px @verde solid;
    form{
      display: block;
      width: 100%;
      margin-top: 8px;
      label{
        max-width: 50%;
        width: 100%;
        display: block;
        margin: 5px 0;
        &.label-inline{
          display: inline-block;
          vertical-align: top;
          &.reduzido{
            margin-left: 1%;
            max-width: 20%;
          }
        }
        input[type=text],
        select{
          background: #F0F0F0;
          box-sizing: border-box;
          width: 100%;
          height: 31px;
          border-radius: 5px;
          padding: 0 10px;
          color: @cinza-escuro;
          transition: all .3s ease-in;
          .ubuntu(12px);
          &:focus{
            outline: none;
          }
        }
      }
    }
  }

  h3{
    .ubuntu(16px, bold);
    color: @cinza-medio;
    font-style: italic;
  }

  h4{
    .ubuntu(14px, 300);
    color: @cinza-medio;
    text-align: center;
    margin: 30px 0;
  }

  #indicacoes-recentes{}

  #detalhes-fornecedores{
    margin: 20px 0 5px 0;
    padding: 15px 0;
    border-top: 1px @verde solid;
    .fornecedor{
      margin: 20px 0 25px 0;
      font-size: 0;
      .dados{
        display: inline-block;
        vertical-align: top;
        width:48%;
        .nome{
          line-height: 140%;
          color: @cinza-escuro;
          .ubuntu(18px);
        }
        .categoria{
          line-height: 140%;
          color: @verde;
          font-style: italic;
          .ubuntu(15px, bold);
        }
        .contatos{
          .ubuntu(15px, 300);
          color: @cinza-escuro;
          line-height: 120%;
          margin-top: 10px;
          a{
            color: @verde;
            font-style: italic;
            text-decoration: none;
            transition: color .3s ease-in;
            &:hover{
              color: @azul-setor-adm;
            }
          }
        }
      }
      .descritivo{
        display: inline-block;
        vertical-align: top;
        width:48%;
        p{
          padding: 10px;
          background: @cinza-claro;
          color: @cinza-escuro;
          line-height: 130%;
        }
      }
    }
    .fornecedor-galeria{
      font-size: 0;
      a{
        display: inline-block;
        vertical-align: top;
        width: 100%;
        max-width: 110px;
        margin-right: 5px;
        margin-bottom: 5px;
        img{
          max-width: 100%;
        }
      }
    }
  }

  #resultados-busca{
    p{
      margin: 15px 0;
      font-style: italic;
      color: @cinza-escuro;
    }
  }

  .lista-fornecedores{
    margin: 5px 0;
    li{
      display: block;
      padding: 15px 0;
      border-bottom: 1px @verde solid;
      font-size: 0;
      .imagem{
        display: inline-block;
        vertical-align: top;
        width: 17%;
        img{
          max-width: 100%;
        }
      }
      .fornecedor{
        display: inline-block;
        vertical-align: top;
        width: 83%;
        box-sizing: border-box;
        padding: 5px 10px;
        .nome{
          line-height: 140%;
          color: @cinza-escuro;
          .ubuntu(15px);
        }
        .categoria{
          line-height: 140%;
          color: @verde;
          font-style: italic;
          .ubuntu(15px, bold);
        }
        .avaliacoes{
          line-height: 140%;
          padding: 5px 0px 10px 0;
          color: @cinza-escuro;
          .ubuntu(13px);
          .rating{
            padding: 0 5px;
            .estrela{
              padding: 0 1px;
              vertical-align: -1px;
              .ubuntu(21px);
              color: @cinza-medio;
              &.marcada{
                color: @laranja;
              }
            }
          }
        }
        .acoes{
          .btn{
            margin-right: 5px;
          }
        }
      }
    }
  }

  #fornecedores-avaliacoes{

    .avaliacao{
      font-size: 0;
      padding: 10px;
      position: relative;
      .btn-remover-avaliacao{
        position: absolute;
        top: 10px;
        right:10px;
      }
      .texto{
        display: inline-block;
        vertical-align: top;
        width: 60%;
        p{
          padding-right: 1%;
          line-height: 130%;
          color: @cinza-escuro;
          .ubuntu(14px);
        }
        .data{
          .ubuntu(11px);
          text-transform: uppercase;
          color: @cinza-escuro;
          font-style: italic;
          display: block;
          padding-top: 5px;
        }
      }
      .nota{
        display: inline-block;
        vertical-align: top;
        width: 39%;
        .rating{
          padding: 0 5px;
          .estrela{
            padding: 0 1px;
            .ubuntu(21px);
            color: @cinza-medio;
            &.marcada{
              color: @laranja;
            }
          }
        }
        .morador{
          margin-top: 5px;
          .foto{
            display: inline-block;
            vertical-align: top;
            width: 15%;
            img{
              max-width: 80%;
              border-radius: 4px;
            }
          }
          .nome-unidade{
            display: inline-block;
            vertical-align: top;
            width: 80%;
            .nome-morador{
              color: @cinza-escuro;
              .ubuntu(15px, light);
              line-height: 120%;
            }
            .unidade-morador{
              color: @cinza-escuro;
              .ubuntu(11px, light);
              line-height: 120%;
              font-style: italic;
            }
          }
        }
      }
    }

    #avaliacao-recomendante{
      padding-bottom: 10px;
      margin-bottom: 5px;
      border-bottom: 1px @amarelo solid;
      p.titulo{
        .ubuntu(14px);
        color: @amarelo;
      }
      .avaliacao{
        margin: 10px 0;
        background: @amarelo-claro;
      }
    }

    #outras-avaliacoes{
      p.titulo{
        padding-left: 10px;
        .ubuntu(13px);
        color: @amarelo;
      }
      .avaliacao{
        border-bottom: 1px #64C5B1 solid;
        .texto .data{
          color: #64C5B1;
        }
      }
    }

    #avaliar{
      margin: 20px 0 25px 0;
      &.aberto{
        #avaliacao-form{
          padding: 10px 0;
          max-height: 300px;
          opacity: 1;
          border-top: 1px @laranja solid;
          border-bottom: 1px @laranja solid;
        }
        #toggle-avaliacao-form{
          display:none;
        }
      }
      #avaliacao-form{
        position: relative;
    		box-sizing: border-box;

        overflow: hidden;
        max-height: 0;
        opacity: 0;
        padding: 0;
        border-top: none;
        border-bottom: none;

        transition: opacity .3s ease-in 0s,
                    max-height .3s ease-in 0s,
                    padding .3s ease-in 0s;

        p.titulo{
          .ubuntu(12px, bold);
          margin: 3px 0;
          color: @laranja;
        }
        form{
          width: 60%;
          .avalicao-form-input{
            position: relative;
    				display: block;
    				margin-bottom: 5px;
    				textarea{
    					background: #F0F0F0;
    					box-sizing: border-box;
    					width: 100%;
    					height: 31px;
    					border-radius: 5px;
    					padding: 0 10px;
    					color: @cinza-escuro;
    					transition: all .3s ease-in;
    					.ubuntu(12px);
    					&:focus{
      					outline: none;
      				}
      			}
    				&.obrigatorio{
    					textarea{
    						background: #fbedeb;
    						border: 1px solid #ec9488;
    						&:focus{
    							outline: none;
    							box-shadow: 0 0 6px #ec9488;
    						}
    					}
              &:after{
                content: "campo obrigatório";
      					text-align: right;
      					position: absolute;
      					right: 4px;
      					bottom: 2px;
      					color: #f6546a;
      					display: block;
      					.ubuntu(10px);
      				}
    				}

    				textarea{
    					padding: 10px;
    					height: 80px;
    				}
    				&.contem-textarea.input-erro:after{
    					bottom: 4px;
    				}
          }
          .observacao{
            font-size: 10px;
            font-style: italic;
          }
          .btn-success{
            margin-top: 10px;
          }
        }
      }
    }
  }
}
