@import '../vars.less';

#faq-main{
	#lista-faq{
		margin:20px 0;
		li{
			display: block;
			width: 100%;
			margin-bottom: 5px;
			.questao{
				display: block;
				padding: 10px 10px 10px 20px;
				background: @cinza-medio;
				border-radius: 5px;
				position: relative;
				transition: background-color .3s ease-in;
				color:#fff;
				.ubuntu(16px, bold);
				img{
					position: absolute;
					right: 10px;
					top: 10px;
					transition: all .3s ease-in;
				}
			}
			.resposta{
				padding: 0px 10px 0px 20px;
				max-height: 0;
				opacity: 1;
				color: @cinza-escuro;
				transition: all .3s ease-in;
				overflow: hidden;
				.ubuntu(14px);
			}
			&:hover, &.ativo{
				.questao{
					background-color: @success;
				}
			}
			&.ativo{
				.questao img{
					transform: rotate(-45deg);
				}
				.resposta{
					max-height: 600px;
					opacity: 1;
					padding: 10px 10px 10px 20px;
				}
			}
		}
	}
}