@import '../vars.less';

#documentos-main{
	.contemDocumentos{
		font-size: 0;
		margin-top: 40px;
		.listaCategorias{
			.inline;
			width:27%;
			ul{
				li{
					margin-bottom: 20px;
					a{
						.ubuntu(12px, bold);
						color: @cinza;
						transition: color .3s ease-in;
						&:active, &:visited{color: @cinza;}
						&:hover, &.ativo{color: @verde;}
					}
				}
			}
		}
		.listaArquivos{
			.inline;
			width:73%;
			h2{
				text-transform: uppercase;
				.ubuntu(15px);
				color: @verde;
				margin:0;
			}
			p{
				margin: 10px 0;
				.ubuntu(12px);
				line-height: 130%;
				color: @cinza-escuro;
			}
			ul{
				margin-top: 15px;
				li{
					padding: 18px;
					margin-bottom: 10px;
					background: @cinza-claro;
					border-radius: 4px;
					h3{
						.ubuntu(14px, bold);
						color: @cinza-escuro;
						text-transform: uppercase;
						margin: 0;
						line-height: 130%;
					}
					a{
						.inline;
						height: 20px;
						line-height: 20px;
						border-radius: 4px;
						padding: 0 14px 0 26px;
						color: #fff;
						background: url('../../images/layout/moradores/setinha-download.png') @cinza 8px 3px no-repeat;
						.ubuntu(11px, bold);
						text-transform: uppercase;
						&:active, &:visited{color: #fff}
						&:hover{}
					}
				}
			}
		}
	}
}