@import '../vars.less';

#fale-com-main{
	& > ul{
		margin: 20px 0;
		& > li{
			font-size: 0;
			margin-bottom: 5px;
			.titulo{
				.inline;
				width: 26%;
				background: @success;
				color: #fff;
				padding: 20px;
				box-sizing: border-box;
				border-radius: 6px;
				.ubuntu(16px, bold);
				line-height: 115%;
			}
			.conteudo{
				.inline;
				box-sizing: border-box;
				margin-left: 5px;
				width: 73%;
				box-sizing: border-box;
				.texto{
					position: relative;
					padding: 20px;
					background: @cinza-claro;
					border-radius: 6px;
					min-height: 40px;
					.link-enviar-mensagem{
						position: absolute;
						box-sizing: border-box;
						top: 21px;
						right: 5px;
						display: block;
						width: 100px;
						transition: color .3s ease-in;
						padding-left: 36px;
						color: @cinza-escuro;
						.ubuntu(11px, bold);
						background: url('../../images/layout/moradores/icone-email.png') left center no-repeat;
						&:hover{
							color: @success;
						}
					}
				}
				.formulario{
					margin-bottom: 10px;
					h2{
						.ubuntu(14px, bold);
						color: @cinza-escuro;
						margin-bottom: 10px;
					}
					form{
						label{
							position: relative;
							display: block;
							margin-bottom: 5px;
							input[type="text"],
							textarea{
								transition: all .3s ease-in;
								display: block;
								border: 0;
								margin: 0;
								box-sizing: border-box;
								background: #fff;
								color: @cinza-escuro;
								width: 100%;
								border-radius: 4px;
								.ubuntu(14px);
							}
							input[type="text"]{
								padding: 0 0 0 5px;
								height: 30px;
								line-height: 30px;
							}
							textarea{
								padding: 5px;
								height: 200px;
							}
							&.input-erro{
								input, textarea{
									background: #fbedeb;
			  						border: 1px solid #ec9488;
			  						&:focus{
			  							outline: none;
			  							box-shadow: 0 0 6px #ec9488;
			  						}
			  					}
							}
							&.input-erro:after{
								text-align: right;
								position: absolute;
								right: 4px;
								bottom: 2px;
								color: #f6546a;
								display: block;
								.ubuntu(10px);
							}
							&.obrigatorio:after{ content: "campo obrigatório"; }
						}
					}
					input[type="submit"]{
						height: 40px;
						line-height: 40px;
						padding-left: 46px;
						.ubuntu(13px, bold);
						background: url('../../images/layout/moradores/icone-email.png') @success 10px center no-repeat;
					}
				}
			}
		}
	}
}