@import '../vars.less';

.centro{
	width: 980px;
	max-width: 100%;
	.centralizar;
}

#dashboard-section{
	header{
		border-bottom: 1px @cinza solid;
		font-size: 0;
		.dashboard-branding{
			.inline;
			background: rgba(255, 255, 255, 0.8);
			padding: 22px 30px;
			box-sizing: border-box;
			width: 240px;
			font-size: 0;
			.dashboard-marca{
				.inline;
				width:90px;
				img{
					display: block;
					max-width: 100%;
				}
			}
			p{
				margin-top: -3px;
				line-height: 110%;
				.ubuntu(14px, bold);
				color: #000;
				width: 90px;
				margin: 0;
				.inline;
			}
		}
		.dashboard-topo{
			.inline;
			width: 740px;
			height: 119px;
			box-sizing: border-box;
			padding: 10px 0 10px 50px;
			position: relative;
			.dashboard-avatar{
				.inline;
				width: 100px;
				height: 100px;
				img{
					max-height: 100%;
					max-width: 100%;
					border-radius: 5px;
					display: block;
				}
			}
			.dashboard-perfil-menu{
				.inline;
				padding: 16px 20px;
				width: 100%;
				max-width: 380px;
				h1{
					.ubuntu(14px, light);
					margin-bottom: 7px;
					display: block;
					color: @cinza;
				}
				ul{
					display: block;
					list-style: none;
					font-size: 0;
					li{
						.inline;
						margin-right: 10px;
						a{
							display: block;
							height: 20px;
							line-height: 20px;
							padding: 0 10px;
							border-radius: 4px;
							background-color: @amarelo-claro;
							color: @cinza;
							.ubuntu(10px, bold);
							transition: all .3s ease-in;

							&:active, &:visited{ color: @cinza; }

							&:hover, &.ativo{
								background-color: @verde;
								color: #fff;
							}
						}
						&:last-child a{
							background-color: @laranja;
							color: #fff;
							&:active, &:visited{ color: #fff; }
							&:hover, &.ativo{
								background-color: @verde;
								color: #fff;
							}
						}
					}
				}
			}
			.dashboard-perfil-menu-lateral{
				width: 190px;
				position: absolute;
				top: 10px;
				right: 0;
				ul{
					list-style: none;
					li{
						margin: 0 0 1px 0;
						a{
							padding: 2px 0;
							display: block;
							.ubuntu(14px, bold);
							font-style: italic;
							color: @cinza;
							transition: color .3s ease-in;
							&:active, &:visited{color: @cinza;}
							&:hover, &.ativo{
								color: @verde;
							}
						}
					}
				}
			}
		}
	}
	aside{
		.inline;
		width: 240px;
		ul.dashboard-mostra-areas{
			font-size: 0;
			& > li{
				.inline;
				width: 60px;
				height: 60px;
				position: relative;
				& > a{
					display: block;
					position: relative;
					width: 100%;
					height: 100%;
					&.area{
						&.link-admin{
							background-color: @azul-setor-adm;
							&:after{ background-image: url('../../images/layout/moradores/icone-administracao.png'); }
						}
						&.link-unidade{
							background-color: @rosa-setor-uni;
							&:after{ background-image: url('../../images/layout/moradores/icone-unidade.png'); }
						}
						&.link-areascomuns{
							background-color: @laranja-setor-areascomuns;
							&:after{ background-image: url('../../images/layout/moradores/icone-areascomuns.png'); }
						}
						&.link-acesso{
							background-color: @amarelo-setor-controle;
							&:after{ background-image: url('../../images/layout/moradores/icone-acesso.png'); }
						}
						&:after{
							content: "";
							display: block;
							position: absolute;
							background-position: center center;
							background-repeat: no-repeat;
							width: 100%;
							height: 100%;
							opacity: 0.5;
							transition: opacity .3s ease-in;
						}
					}
					&:hover:after{opacity: 1;}
					&.ativo{
						&:after{opacity: 1;}
						& + ul.submenu{
							opacity: 1;
							height: auto;
						}
					}
					&.marcado:after{opacity: 1;}
				}
				ul.submenu{
					position: absolute;
					top: 100%;
					width: 400%;

					height:0;
					overflow:hidden;
					opacity: 0;

					transition: opacity .3s ease-out;

					li{
						min-height: 30px;
						line-height: 30px;
						text-indent: 10px;
						h3{
							.ubuntu(12px, 300);
							text-transform: uppercase;
							color: #fff;
						}
						a{
							transition: color .3s ease-in;
							color: #fff;
							display: block;
							.ubuntu(12px);
							font-weight: bold;
							&:active, &:visited{ color: #fff; }
						}
					}
				}
				&.area-admin .submenu{
					left: 0;
					background-color: @azul-setor-adm;
					border-top: 1px #467f96 solid;
					& > li{ border-bottom: 1px #467f96 solid; }
					& > li > h3{ color: @azul-setor-adm-texto; }
					& > li > a:hover,
					& > li > a.ativo{ color: @azul-setor-adm-texto-marcado; }
				}
				/**
				* Substituir Cores das outras áreas \/
				*/
				&.area-unidade .submenu{
					left: -100%;
					background-color: @rosa-setor-uni;
					border-top: 1px #b36090 solid;
					& > li{ border-bottom: 1px #b36090 solid; }
					& > li > h3{ color: @rosa-setor-uni-texto; }
					& > li > a:hover,
					& > li > a.ativo{ color: @rosa-setor-uni-texto-marcado; }
				}
				&.area-areascomuns .submenu{
					left: -200%;
					background-color: @laranja-setor-areascomuns;
					border-top: 1px #ff8331 solid;
					& > li{ border-bottom: 1px #ff8331 solid; }
					& > li > h3{ color: @laranja-setor-areascomuns-texto; }
					& > li > a:hover,
					& > li > a.ativo{ color: @laranja-setor-areascomuns-texto-marcado; }
				}
				&.area-acesso .submenu{
					left: -300%;
					background-color: @amarelo-setor-controle;
					border-top: 1px #ffbc49 solid;
					& > li{ border-bottom: 1px #ffbc49 solid; }
					& > li > h3{ color: @amarelo-setor-controle-texto; }
					& > li > a:hover,
					& > li > a.ativo{ color: @amarelo-setor-controle-texto-marcado; }
				}
			}
		}
		.dashboard-aside-texto{
			padding: 30px 0;
			p{
				display: block;
				margin: 0 0 12px 0;
				text-align: right;
				color: @cinza;
				line-height: 135%;
				.ubuntu(10px, bold);
			}
		}
	}
	.main{
		.inline;
		width: 740px;
		box-sizing: border-box;
		padding-left: 50px;
		#dashboard-notificacoes{
			ul.lista-notificacoes{
				display: block;
				height: 35px;
				text-align: right;
				li{
					height: 35px;
					width: 35px;
					margin-left: 10px;
					.inline;
					a{
						display: block;
						height: 35px;
						width: 35px;
						position: relative;
						&:active, &:visited{}
						&:hover{}
						&.notificacoes-chamados{}
						&.notificacoes-correspondencias,
						&.notificacoes-encomenda{
							&:after{
								position: absolute;
								bottom: -2px;
								right: -8px;
								display: block;
								content: attr(data-qty);
								border: 1px #fff solid;
								color: #fff;
								background: @danger;
								width: 13px;
								height: 13px;
								line-height: 13px;
								border-radius: 100%;
								text-align: center;
								.ubuntu(9px, bold);
								box-shadow: 1px 1px 0px 0px #ccc;
								transition: all .3s ease-in;
							}
							&:hover:after{
								background-color: @success;
							}
						}
						&.notificacoes-eventos{}
					}
				}
			}
		}
		#dashboard-avisos{
			padding-top: 20px;
			h2{
				.ubuntu(18px);
				color: @verde;
				margin: 0 0 15px 0;
			}
			ul.lista-avisos{
				list-style: none;
				li{
					display: block;
					margin: 0 0 10px 0;
					background: @cinza-claro;
					border-radius: 5px;
					padding: 20px;
					width: 100%;
					box-sizing: border-box;
					.coluna-esquerda{
						.inline;
						width: 20%;
						.aviso-timestamp{
							.ubuntu(10px, bold);
							color: @cinza;
							margin-bottom: 10px;
						}
						.aviso-marcar-lido{
							.aviso-lido-data{
								opacity: 1;
								color: @verde;
								transition: opacity .3s ease-in;
								font-style: italic;
								.ubuntu(10px, bold);
								&.apagado{
									opacity: 0;
								}
							}
							label{
								.ubuntu(10px, bold);
								color: @cinza;
								display: block;
								height:14px;
								line-height:14px;
								cursor: pointer;
								font-style: italic;
								input[type="checkbox"]{
									vertical-align: top;
								}
							}
						}
					}
					.coluna-direita{
						.inline;
						width: 510px;
						.aviso-chamada{
							h3{
								.ubuntu(13px);
								color: @cinza-escuro;
								text-transform: uppercase;
								margin-bottom: 4px;
							}
							.aviso-chamada-texto{
								.ubuntu(13px);
								color: @cinza-escuro;
							}
							.aviso-assinatura{
								.ubuntu(13px);
								color: @cinza-escuro;
								font-style: italic;
								margin: 17px 0;
							}
							.aviso-link{
								width: 50%;
								a{
									height: 20px;
									line-height: 20px;
									border-radius: 4px;
									.inline;
									background: url('../../images/layout/moradores/setinha-regular-on.png') transparent left center no-repeat;
									.ubuntu(13px, bold);
									font-style: italic;
									padding: 0 12px 0 18px;
									width: 100%;
									color: @verde;
									transition: background .3s ease-in,
												color .3s ease-in;
									&:active, &:visited{color: @verde;}
									&:hover{
										background: url('../../images/layout/moradores/setinha-regular.png') @amarelo left center no-repeat;
										color: #fff;
									}
									&:after{
										content: "";
										background: url('../../images/layout/moradores/setinha-regular.png') @amarelo left center no-repeat;
									}
								}
							}
						}
					}
				}
			}
		}
		#dashboard-novidade{
			padding-top: 20px;
			h2{
				.ubuntu(18px, bold);
				color: @verde;
				margin: 0 0 15px 0;
			}
			ul.lista-novidades{
				list-style: none;
				li{
					display: block;
					margin: 0 0 10px 0;
					width: 100%;
					a{
						box-sizing: border-box;
						transition: background-color .3s ease-in;
						width: 100%;
						display: block;
						border-radius: 5px;
						padding: 12px 25px;
						background-color: @verde;
						background-position: 5px 12px;
						background-repeat: no-repeat;
						background-image: url("/assets/images/layout/moradores/setinha-regular.png");
						.novidades-origem{
							.ubuntu(11px);
							color: #fff;
							text-transform: uppercase;
							margin:0 0 4px 0;
						}
						.novidades-titulo{
							.ubuntu(12px, bold);
							color: #fff;
							margin:0 0 4px 0;
						}
						.novidades-timestamp{
							.ubuntu(12px, 300);
							color: @cinza-escuro;
							font-style: italic;
							text-transform: uppercase;
						}
						&:active, &:visited{
							.novidades-origem,
							.novidades-titulo{color: #fff;}
							.novidades-timestamp{color: @cinza-escuro;}
						}
						&:hover{
							background-color: @amarelo;
						}
					}
				}
			}
		}
	}
}
