@import '../vars.less';

#ocorrencias-main{
	ul.lista-ocorrencias{
		margin-top: 20px;
		li{
			display: block;
			margin: 0 0 10px 0;
			background: @cinza-claro;
			border-radius: 5px;
			padding: 13px 20px;
			width: 100%;
			box-sizing: border-box;
			font-size: 0;
			.coluna-esquerda{
				.inline;
				width: 20%;
				h2{
					.ubuntu(10px, bold);
					line-height: 150%;
					color: @cinza;
				}
				small{
					.ubuntu(10px);
					display: block;
					margin-top: 6px;
					line-height: 120%;
					color: @cinza;
					font-style: italic;
				}
				.ocorrencia-timestamp{
					.ubuntu(10px, bold);
					color: @cinza;
				}
			}
			.coluna-direita{
				.inline;
				width: 80%;
				form{
					label{
						display: block;
						position: relative;
						textarea{
							box-sizing: border-box;
							padding: 5px 8px;
							width: 100%;
							min-height: 70px;
							line-height: 130%;
							color: @cinza;
							background: #fff;
							display: block;
							border-radius: 5px;
							font-style: italic;
							resize: auto;
							transition: all .3s ease-in;
							.ubuntu(12px);
							&:focus{ outline: none; }
						}
						&.erro{
							textarea{
								background: #fbedeb;
		  						border: 1px solid #ec9488;
		  						&:focus{
		  							outline: none;
		  							box-shadow: 0 0 6px #ec9488;
		  						}
		  					}
		  					&:after{
								display: block;
								position: absolute;
								right: 4px;
								bottom: 2px;
								color: #f6546a;
								.ubuntu(10px);
							}
		  					&.obrigatorio:after{ content: "campo obrigatório"; }
		  					&.minimo:after{ content: "a descrição da ocorrência deve ter mais de 10 caracteres"; }
						}
					}
					input[type=submit]{
						.inline;
						border-radius: 5px;
						background: @cinza;
						color: #fff;
						height: 30px;
						line-height: 30px;
						padding: 0 10px;
						margin-top: 5px;
						.ubuntu(14px, bold);
						&:hover{
							cursor: pointer;
						}
					}
					.ocorrencia-visibilidade{
						padding: 25px 0 20px 0;
						label{
							padding: 5px 0;
							.ubuntu(13px);
							color: @cinza;
							strong{ font-weight: bold; }
						}
					}
				}
				.ocorrencia-texto{
					p{
						.ubuntu(12px);
						color: @cinza-escuro;
						line-height: 140%;
						margin: 0;
					}
					.ocorrencia-com-resposta{
						position: absolute;
						width:100%;
						height: 20px;
						line-height: 20px;
						top:50px;
						left:0;
						display: block;
						color: @laranja;
						padding-left: 13px;
						opacity:1;
						transition: opacity .1s ease-in;
						background: url('../../images/layout/moradores/estrela-laranja.png') @cinza-claro left center no-repeat;
						.ubuntu(10px);
					}
					&.expandido{
						.ocorrencia-com-resposta{
							opacity:0;
						}
					}
					.ocorrencia-responder-form{
						border-top:1px @verde solid;
						padding: 15px 0;
						textarea{
							margin-bottom: 5px;
						}
						label.finalizar-ocorrencia{
							.inline;
							vertical-align: bottom;
							border-radius: 5px;
							margin-left: 5px;
							background: @cinza;
							color: #fff;
							height: 18px;
							line-height: 18px;
							padding: 0 14px 0 10px;
							.ubuntu(10px);
							font-style: italic;
							&:hover{
								cursor: pointer;
							}
							input[type="checkbox"]{
								vertical-align: middle;
							}
						}
					}
					.ocorrencia-finalizada{
						.inline;
						height: 18px;
						line-height: 18px;
						padding:0 12px 0 19px;
						background: url('../../images/layout/moradores/estrela-laranja.png') @cinza 7px center no-repeat;
						color: #fff;
						.ubuntu(10px);
						font-style: italic;
						border-radius: 4px;
					}
				}
				.ocorrencia-original{
					min-height: 80px;
					position: relative;
					box-sizing: border-box;
					padding-bottom: 15px;
				}
				.ocorrencia-resposta{
					border-top: 1px @verde solid;
					margin: 10px 0;
					padding: 10px 0;
					.ubuntu(12px);
					color: @cinza-escuro;
					line-height: 140%;
					.resposta-data{
						margin-top: 10px;
						font-weight: bold;
						font-size: 10px;
						.inline;
						width:20%;
					}
					.resposta-autor{
						margin-top: 10px;
						font-style: italic;
						font-size: 10px;
						.inline;
						width:50%;
					}
				}
				.ocorrencia-toggle-texto{
					.ubuntu(11px, bold);
					.inline;
					height: 13px;
					line-height: 13px;
					color: @verde;
					margin-top: 10px;
					padding-left: 15px;
					background-position: left center;
					background-repeat: no-repeat;
					background-size: auto 13px;
					&.abrir{background-image: url('../../images/layout/moradores/setinha-expandir.png');}
					&.fechar{background-image: url('../../images/layout/moradores/setinha-recolher.png');}
				}
			}
		}
	}
}
